:root {
  --bg-primary: #090d16;
  --bg-secondary: #101827;
  --bg-card: #182236;

  --accent: #2f6fd6;
  --accent-hover: #275fbc;
  --accent-soft: rgba(47, 111, 214, 0.28);

  --text-primary: #eef4ff;
  --text-secondary: #9dacbf;

  --border-color: rgba(157, 172, 191, 0.2);
  --danger: #f66d84;
  --success: #1d4ed8;
}

body {
  padding-top: 80px;
  margin: 0;
  font-family: "Inter", sans-serif;
  background: var(--bg-primary);
  color: var(--text-primary);
}

section {
  padding: 100px 8%;
}

h1, h2, h3 {
  margin: 0;
}

button {
  all: unset;
  display: inline-block;
  cursor: pointer;
}

/* RESPONSIVIDADE GERAL */
@media (max-width: 900px) {
  body {
    padding-top: 70px;
  }

  section {
    padding: 80px 6%;
  }
}

@media (max-width: 600px) {
  body {
    padding-top: 64px;
  }

  section {
    padding: 60px 5%;
  }
}
